body{
font-family:Arial;
background:#f5f5f5;
text-align:center;
}

.box{
width:350px;
margin:40px auto;
background:white;
padding:20px;
box-shadow:0 0 10px #ccc;
}

input{
width:90%;
padding:10px;
font-size:16px;
margin-bottom:10px;
}

li{
list-style:none;
padding:8px;
border-bottom:1px solid #eee;
display:flex;
justify-content:space-between;
}

.done span{
text-decoration:line-through;
color:gray;
}

button{
margin-left:5px;
}